.row {
    display: flex;
    align-items: start;
    width: 100%;
      flex-flow: wrap row;
    &.justify-content-right {
      justify-content: flex-end;
      text-align: right;
    }
    &.justify-content-center {
      justify-content: center;
      text-align: center;
    }
    &.separator {
      height: 20px;
      margin-bottom: 10px;
      @include dropshadow_block;
    }
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
      display: inline-block;
      vertical-align: top;
      padding: 5px 10px 5px 0;
    }
    .col-1 {
      width: calc((100% - 10px) / 12 * 1);
    }
    .col-2 {
      width: calc((100% - 10px) / 12 * 2);
    }
    .col-3 {
      width: calc((100% - 10px) / 12 * 3);
    }
    .col-4 {
      width: calc((100% - 10px) / 12 * 4);
    }
    .col-5 {
      width: calc((100% - 10px) / 12 * 5);
    }
    .col-6 {
      width: calc((100% - 10px) / 12 * 6);
    }
    .col-7 {
      width: calc((100% - 10px) / 12 * 7);
    }
    .col-8 {
      width: calc((100% - 10px) / 12 * 8);
    }
    .col-9 {
      width: calc((100% - 10px) / 12 * 9);
    }
    .col-10 {
      width: calc((100% - 10px) / 12 * 10);
    }
    .col-11 {
      width: calc((100% - 10px) / 12 * 11);
    }
    .col-12 {
      width: calc((100% - 10px) / 12 * 12);
    }
  }
  
  @media (max-width: 1100px) {
    .row {
      .col-1, .col-2, .col-3, .col-4, .col-5 {
        width: calc((100% - 10px) / 12 * 6);
      }
      .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
        width: calc((100% - 10px) / 12 * 12);
      }
    }
  }
  @media (max-width: 750px) {
    .row {
      .col-1, .col-2, .col-3, .col-4, .col-5 , .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
        width: calc((100% - 10px) / 12 * 12);
      }
    }
  }