// Colors library
$primary-color: #673ab7 !default;
$secondary-color: hsl(36, 94%, 54%) !default;

$black: #4b4b4b;
$white: #ffffff;
$darkwhite: #F0F0F0;
$grey: #ABABAB;
$lightgrey: #dfdfdf;

$blue: #007bff !default;
$green: #34A853 !default;
$red: #e7505a !default;
$yellow: #ffc107 !default;

$dropshadow: 10px 10px 15px rgba(0,0,0,0.05);