
@mixin transform($value) {
    -webkit-transform: $value;
    -ms-transform: $value;
    -o-transform: $value;
    transform: $value;
}

@mixin transition($prop: all, $time: 1s) {
  -webkit-transition: $prop $time;
  -moz-transition: $prop $time;
  -ms-transition: $prop $time;
  -o-transition: $prop $time;
  transition: $prop $time;
}

@mixin center_xy {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%,-50%));
}
.center_xy {
  @include center_xy;
}
@mixin center_y {
    position: absolute;
    top: 50%;
    @include transform(translateY(-50%));
}
.center_y {
  @include center_y;
}
@mixin center_x {
    position: absolute;
    left: 50%;
    @include transform(translateX(-50%));
}
.center_x {
  @include center_x;
}
@mixin full_size {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@mixin dropshadow_block {
    position: relative;
    &:after {
      content: '';
      @include full_size;
      left: -15px;
      right: -15px;
      background: white;
      z-index: -1;
    }
    &:before {
      content: '';
      background: $lightgrey;
      position: absolute;
      top: 10px;
      bottom: -10px;
      left: 0;
      right: 0;
      z-index: -2;
      border-radius: 30%;
      filter: blur(5px);
    }
}

@mixin cover_image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}