<div class="filmlist">
    <a *ngFor="let film of dataService.filmsList.Search" class="film_block" (click)="show_film(film.imdbID)">
        <span class="poster">
            <img src="{{film.Poster}}" alt="{{film.Title}}">
            <mat-icon>web</mat-icon>
        </span>
        <span class="content">
            <span class="title">{{film.Title}}</span>
            <span class="year">{{film.Year}}</span>
        </span>
    </a>
</div>