<div class="modal_film">
    <button mat-icon-button class="modal_close" (click)="close_modal()">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <div class="background"><img src="{{dataService.film.Poster}}" alt=""></div>
    <div class="content">
        <div class="poster"><img src="{{dataService.film.Poster}}" alt=""></div>
        <div class="film_info">
            <div class="rate">
                <div class="rating">{{dataService.film.imdbRating}}<span>/10</span></div>
                <div class="votes">{{dataService.film.imdbVotes}}</div>
            </div>
            <div class="title">{{dataService.film.Title}}<span class="year">({{dataService.film.Year}})</span></div>
            <div class="genre">{{dataService.film.Genre}}</div>
            <div class="extra_info">
                <div><label>Director: </label> {{dataService.film.Director}}</div>
                <div><label>Writers: </label>{{dataService.film.Writer}}</div>
                <div><label>Actors: </label>{{dataService.film.Actors}}</div>
            </div>
            <div class="desc">{{dataService.film.Plot}}</div>
        </div>
    </div>
</div>