<form class="search_film" action="#" (submit)="launchSearch()">
    <mat-form-field class="example-full-width">
        <mat-label>{{label}}</mat-label>
        <input type="text" matInput class="search_film-input">
        <button mat-icon-button matSuffix><mat-icon>search</mat-icon></button>
    </mat-form-field>
</form>