.modal_film {
    @include full_size;
    display: none;
    background-color: $black;
    position: fixed;
    .background {
        @include full_size;
        filter: blur(10px);
        img {
            @include cover_image;
        }
    }
    .modal_close {
        position: relative;
        z-index: 20;
        color:white;
        cursor: pointer;
        font-size: 50px;
    }
    .content {
        @include center_xy;
        width: 1140px;
        max-width: calc(100% - 40px);
        margin: auto;
        z-index: 10;
        display: flex;
        filter: drop-shadow(0 0 10px rgba(0,0,0,0.3));
        .poster {
            width: 350px;
            margin: auto;
            height: 519px;
            overflow: hidden;
            border-radius: 5px 0 0 5px;
            img {
                @include cover_image;
            }
        }
        .film_info {
            position: relative;
            width: calc(100% - 350px);
            background-color: $white;
            border-radius: 0 5px 5px 0;
            padding: 20px;
            font-size: 12px;
            .rate {
                float: right;
                padding-left: 15px;
                text-align: center;
                .rating {
                    font-weight: bold;
                    font-size: 20px;
                    color: $primary-color;
                    span {
                        font-size: 12px;
                        color: $grey;
                    }
                }
                .votes {
                    color: $secondary-color;
                }
            }
            .title {
                font-size: 20px;
                font-weight: bold;
            }
            .year {
                display: inline-block;
                padding: 0 10px;
                font-size: 14px;
                color: $grey;
                font-weight: normal;
            }
            .genre {
                color: $grey;
            }
            .extra_info {
                padding: 20px 0 0;
                color: $secondary-color;
                label {
                    color: $grey;
                }
            }
            .desc {
                padding: 20px 0;
                font-size: 14px;
            }
        }
    }
}