.filmlist {
    padding: 30px;
    text-align: center;
    .film_block {
        display: inline-block;
        vertical-align: top;
        padding: 10px 20px;
        text-decoration: none;
        margin-bottom: 20px;
        cursor: pointer;
        &:after {
            border-radius: 10px;
            left: 10px;
            right: 10px;
        }
        &:hover {
            .poster {
                img {
                    opacity: .5;
                }
                .mat-icon {
                    opacity: 1;
                }
            }
            .content {
                .title {
                    color: $secondary-color;
                }
            }
        }
        .poster {
            position: relative;
            display: block;
            background-color: $primary-color;
            width: 150px;
            margin: auto;
            height: 223px;
            overflow: hidden;
            border-radius: 5px;
            filter: drop-shadow(0 0 10px rgba(0,0,0,0.3));
            img {
                @include cover_image;
                @include transition(opacity, .6s);
            }
            .mat-icon {
                opacity: 0;
                font-size: 50px;
                color: white;
                @include center_xy;
                @include transition(opacity, .6s);
                text-align: center;
                width: 100%;
            }
        }
        .content {
            display: block;
            width: 170px;
            text-align: left;
            padding: 10px;
            color: $black;
            .title {
                display: block;
                font-size: 16px;
                font-weight: bold;
                @include transition(color, .6s);
            }
            .year {
                display: block;
                font-size: 12px;
                color: $grey;
            }
        }
    }
}