/* You can add global styles to this file, and also import other style files */

@import 'sass/utils';

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: $darkwhite;

    * {
        box-sizing: border-box;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
    }
}

@import 'sass/app'
